---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';

const pageTitle = "about me";
const identity = {
    name: "YueHuaixiao",
    hobbies: ["摄影","幻想未来"],
};
const skills = ["Docx","PR","PS","Davinci"]

const happy = true;
const finished = false;
const goal = 3;

const skillColor = "navy";
const fontWeight = "blod";
const textCase = "uppercase";
---

<html lang="zh-cn">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type ="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content = {Astro.generator} >
    <title>{pageTitle}</title>
    <style define:vars={{skillColor, fontWeight, textCase}}>
        h1 {
          color: purple;
          font-size: 4rem;
        }
        .skill {
          color: var(--skillColor);
          font-weight: var(--fontWeight);
          text-transform: var(--textCase);
        }
      </style>
  </head>
  <body>
    <Header />
    <h1>{pageTitle}</h1>
    <h2>我在尝试写自己的个人博客主页</h2>
    <p>那么，这是第一个子页面，也是一个about页面</p>
    <p>我会尝试加入更多更新的内容，祝我好运！</p>
    <p>以下是关于我的几个事实：</p>
    <ul>
      <li>我的名字是{identity.name}.</li>
      {identity.hobbies.length >= 2 &&
        <li>我的两个习惯：{identity.hobbies[0]}和{identity.hobbies[1]}</li>
      }
    </ul>
    <p>我的技能是：</p>
    <ul>
        {skills.map((skill) =>  <li class="skill">{skill}</li>)}

    </ul>
    {happy && <p>我非常乐意学习 Astro！</p>}

    {finished && <p>我完成了这节教程！</p>}

    {goal === 3 ? <p>我的目标是在三天内完成。</p> : <p>我的目标不是 3 天。</p>}
    <Footer />
  </body>
</html>

