---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "关于";

const identity = {
    name: "YueHuaixiao",
    hobbies: ["摄影","幻想未来"],
};
const skills = ["Docx","PR","PS","Davinci"]

const happy = true;
const finished = true;
const goal = 3;

const skillColor = "navy";
const fontWeight = "blod";
const textCase = "uppercase";
---


<BaseLayout pageTitle={pageTitle}>
  
  <h2>我在尝试写自己的个人博客主页</h2>
  <p>那么，这是第一个子页面，也是一个about页面</p>
  <p>我会尝试加入更多更新的内容，祝我好运！</p>
  <p>以下是关于我的几个事实：</p>
  <ul>
    <li>我的名字是{identity.name}.</li>
    {identity.hobbies.length >= 2 &&
      <li>我的两个习惯：{identity.hobbies[0]}和{identity.hobbies[1]}</li>
    }
  </ul>
  <p>我的技能是：</p>
  <ul>
      {skills.map((skill) =>  <li class="skill">{skill}</li>)}

  </ul>

</BaseLayout>

